<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	{% load staticfiles %}
    <script src="{% static 'user_dashboard/js/jquery.js' %}"></script>
    <script src="{% static 'user_dashboard/js/Bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user_dashboard/css/Bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user_dashboard/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'user_dashboard/css/login_registration.css' %}">
    <script src="{% static 'user_dashboard/js/main.js' %}"></script>
</head>
<body>
	<div class="bg"></div>
  <nav class="navbar navbar-inverse radius">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Test App</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid lrWrap">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xm-10 col-xm-offset-1">
      <h3>Welcome back, loyal customer!</h3>
      <a href="{% url 'ud_register' %}">Not a member yet? Register now</a>
        <form class="lrForm" action="{% url 'ud_login_process' %}" method="post" name="login">
        {% csrf_token %}
          <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input type="text" class="form-control validate" id="loginEmail" name="email" placeholder="Email" value="{{request.session.email}}">
            <div class="showErr">
              {% if 'existErr' in msg %}
              <p class="errMsg">{{msg.existErr}}</p>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control validate" id="loginPassword" name="password" placeholder="Password">
            <div class="showErr">
              {% if 'pwErr' in msg %}
              <p class="errMsg">{{msg.pwErr}}</p>
              {% endif %}
            </div>
          </div>
          <button type="submit" id="loginSubmit" class="btn btn-primary submit" disabled>Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>